# Виртуальное окружение
venv/

# Служебные файлы Python
__pycache__/
*.py[cod]
*$py.class

# База данных SQLite
*.db

# Переменные окружения (СЕКРЕТЫ!)
.env

# Специфичные файлы macOS
.DS_Store

# Настройки IDE
.idea/
.vscode/